@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');


* {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background: rgba(172, 171, 171, 0.912);
}



a {
    text-decoration: none;
}

body {
    font-family: 'DM Sans', sans-serif;
    scroll-behavior: smooth;
}

/* navhead contents */
.navhead {
    width: 100%;
    box-sizing: border-box;
    padding: 0em 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4em;
    /* background-color: red; */
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
}

.logo {
    width: 8em;
    height: 2.5em;
    background-image: url('res/logo.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    /* background-color: red; */
    /* font-family: ; */
}


.nav-links a {
    color: black;
    font-weight: 500;
    transition: 0.2s;
}

.nav-links a:hover {
    color: rgb(255, 91, 91);
    transition: 0.2s;
}

.nav-links a:not(:first-child) {
    margin-left: 4em;
}

.book-btn {
    padding: 10px 18px;
    background-color: rgba(255, 87, 102, 1);
    border: 2.5px solid rgba(255, 87, 102, 1);
    border-radius: 10px;
    margin-left: 5em;
    font-size: 0.9em;
    font-weight: bold;
    color: white;
    transition: 0.3s;
}

.book-btn:hover {
    cursor: pointer;
    background-color: white;
    color: rgba(255, 87, 102, 1);
    transition: 0.3s;
}

.header {
    width: 100%;
    height: 250px;
    background: linear-gradient(0deg, #4B5ADB 0%, #5A40C4 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight:500;
}

.header .top-text {
    font-size: 1.4em;
    margin-bottom: 0.4em;
}

.header .bottom-text {
    font-size: 2.2em;
    margin-top: 0.4em;
}

/* end of navhead contents */

.baby-stories {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 2em;
    width: 100%;
    /* height: 500px; */
}

.baby-stories h1 {
    color: rgb(0, 40, 99, 1);
}

.babystory-container {
    box-sizing: border-box;
    width: 90%;
    /* height: 300px; */
    /* background-color: red; */
    display: flex;
    align-items: center;
    /* justify-content: start; */
    justify-content: center;
    overflow-x: scroll;
    padding: 4em 0;
}

.child-story {
    width: 257.79px;
    height: 265px;
    margin-left: 60px;
    /* background-color: red; */
    flex-shrink: 0;
}

.paper-bg {
    text-align: center;
    box-sizing: border-box;
    font-size: 1.1em;
    font-weight: bold;
    width: 199px;
    height: 265px;
    padding: 18px 6px;
    /* padding: 10px; */
    color: rgba(0, 40, 99, 1);
    background-color: rgba(245, 234, 226, 1);
    border-radius: 15px;
}

.child-video {
    position: relative;
    width: 257.79px;
    height: 143.22px;
    top: -180px;
    left: -30px;
    border-radius: 15px;
    background-image: url('res/ss_2.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.play-circle {
    width: 59.6px;
    height: 59.6px;
    background-image: url("res/play_circle.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.right-circle {
    display: inline-block;
    position: relative;
    top: 10px;
    width: 56px;
    height: 56px;
    background-image: url("res/right-chevy-arrow.png");
    background-repeat: no-repeat;
    background-size: cover;
    flex-shrink: 0; /* Prevent shrinking to keep the distance intact */
    margin-left: 0px; /* Add margin to ensure space between elements */
    transition: 0.3s;
    border-radius: 50%;
}

.right-circle:hover {
    cursor: pointer;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.5);
    transition: 0.3s;
}

.wavy-divider {
    width: 312px;
    height: 25px;
    background-image: url('res/wavy-divider.png');
    background-size: contain;
    background-repeat: no-repeat;
    flex-shrink: 0;
}


/* parent stories */

.parent-stories {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 2em;
    width: 100%;
}

.parent-stories h1 {
    color: rgba(0, 40, 99, 1);
    font-weight: 500;
    margin-bottom: 0.3em;
}

.parent-stories h1 span {
    font-weight: bold;
}

.parent-stories text {
    color: rgba(0, 40, 99, 1);
    font-size: 1.3em;
    margin-top: 0.3em;
}

.parentstory-container {
    width: 90%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: scroll;
    padding: 2em 0;
}

.parent-story {
    width: 360px;
    height: 355px;
    padding: 1em;
    box-sizing: border-box;
    box-shadow: 2px 2px 10px rgba(100,100,100,0.15);
    border-radius: 15px;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    margin-left: 30px;
    transition: 0.3s;
    /* background-color: red; */
}

.parent-story:hover {
    cursor: pointer;
    box-shadow: 2px 2px 20px rgba(100,100,100,0.6);
}

.parent-story-top {
    width: 337px;
    height: 200px;
    flex-shrink: 0;
    background-image: url('res/mom-1.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.parent-story:nth-of-type(2) .parent-story-top {
    background-image: url('res/parent-1.png');
}

.parent-story-bottom {
    width: 100%;
    height: 160px;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 0.5em 0.3em;
    padding-right: 2em;
    /* background-color: red; */
}

.quote-start {
    position: relative;
    display: block;
    width: 19px;
    height: 15px;
    /* background-color: red; */
    background-image: url('res/quote-start.png'); 
    background-size: contain;
    background-repeat: no-repeat;
}

.parent-story-bottom p {
    margin-top: 0.8em;
    color: rgba(0, 40, 99, 1);
    font-size: 1.1em;
    font-weight: 600;
}

.next-slide-btn {
    width: 44px;
    height: 44px;
    box-sizing: border-box;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    border-radius: 50%;
    margin-top: 50px;
    margin-left: -20px;
    background-color: white;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.next-slide-btn:hover {
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transition: 0.3s;
}

.next-slide-btn span {
    width: 45%;
    height: 45%;
    /* background-color: red; */
    background-image: url('res/chevron-right.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.see-all-btn {
    cursor: pointer;
    padding: 0.6em 1.2em;
    border-radius: 8px;
    color: rgba(255, 63, 78, 1);
    border: 1.5px solid rgba(255, 63, 78, 1);
    font-weight: bold;
    transition: 0.3s;
}

.see-all-btn:hover {
    background-color: rgba(255, 63, 78, 1);
    color: white;
}


.red-icon {
    width: 40px;
    height: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0.5em;
}

/* stats-box */
.stats-bar {
    width: 100%;
    box-sizing: border-box;
    padding: 3em 5em;
    /* background-color: red; */

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.icon-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.2em;
    font-weight: 500;
    color: rgba(0, 40, 99, 1);
}


/* baby-minds */

.baby-minds {
    width: 100%;
    padding: 4em 2em;
    padding-bottom: 2em;
    box-sizing: border-box;
    background-color: rgba(255, 251, 251, 1);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgba(0, 40, 99, 1);
}

.baby-minds h1 {
    font-weight: 500;
}

.babyminds-container {
    width: 90%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: scroll;
    padding: 2em 0;
}

.mind-story {
    width: 330px;
    /* height: 300px; */
    box-sizing: border-box;
    box-shadow: 2px 2px 10px rgba(100,100,100,0.15);
    border-radius: 15px;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    margin-left: 30px;
    transition: 0.3s;
}

.mind-story:hover {
    cursor: pointer;
    box-shadow: 2px 2px 20px rgba(100,100,100,0.6);
}

.mind-story-top {
    width: 330px;
    height: 220px;
    flex-shrink: 0;
    background-image: url('res/child-1.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.mind-story-bottom {
    width: 100%;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 0 2em;
    padding-top: 0.3em;
    padding-bottom: 1.5em;
}

.mind-story-bottom span {
    font-weight: 600;
}

.baby-minds .next-slide-btn {
    width: 38px;
    height: 38px;
    margin-top: 25px;
}